.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(270deg, #121212, #212b46, #121212);
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

.title{
    font-size: 85px;
    color: #FFF;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    animation: fliptitle 2s;
}

@keyframes fliptitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0, 0.5);
}

.containerInput input{
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
    flex: 1;
}

.containerInput input:focus{
    border-color: #fff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.containerInput input::placeholder{
    color: #F1f1f1;
}

.buttonSearch{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonSearch:hover, .buttonSearch:focus {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.main:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}

.main h2{
    margin: 16px 0;
    font-size: 39px;
}

.main span{
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 768px){
    .title{
        font-size: 60px;
    }
    
    .main {
        width: 90%;
        padding: 15px;
    }
    
    .main h2{
        font-size: 28px;
    }
}
